@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
  margin: 0px;
  padding: 0px;
  background:linear-gradient(to right, rgb(255, 0, 0), rgb(0, 64, 255));
}

.css1 {
  text-decoration: none;
	max-width: 1400px;
  min-width: 412px;
  height: 100px;
  color: #fff;
  padding: 0px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  background-size: cover;
  background-image: linear-gradient(315deg, #000428 0%, #004e92 75%);
}
.css1:hover {
  background-position: right center;
}
.css1:active {
  top: 2px;
}
.css2 {
  max-width: 1400px;
  min-width: 412px;
  height: 100px;
  color: #fff;
  padding: 0px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  
  border: none;
  background-size: cover;
  background-image: linear-gradient(315deg, #833ab4 0%, #fd1d1d 50%, #fcb045);
}
.css2:hover {
  background-position: right center;
}
.css2:active {
  top: 2px;
}
a {
  color: antiquewhite;

  text-decoration: none;
}
h1{
  font-family: 'Bebas Neue', cursive;
  font-size: 55px;
    margin: 0px;
    padding: 0px;

}